.searchUberContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
}

.autoInput {
  border: none !important;
  margin-right: 0 !important;
  padding-left: 1.75rem !important;
}

.suggestionsContainer {
  position: absolute;
  width: 100%;
}

.suggestionsList {
  margin: 0;
  background: white;
}

.suggestion {
  padding: 0.1rem 0.5rem;
  background: white;
}

.suggestionFocused {
  background: #E8F2FE;
}

.autoContainer .suggestionsContainer {
  display: none;
}

.autoContainerOpen .suggestionsContainer {
  display: block !important;
}

.suggestionFocused {
  background: #E8F2FE;
}
